.header{
    padding: 24px 42px;
    font-family: sans-serif;
    color: var(--carbon-fiber);
    line-height: 1.5px;

}
.header__container{
    display: flex;
    justify-content: space-between;
    

}
.header__logo{
    font-weight:600 ;
    font-size: 20px;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.menu__link{
    font-size: 17px;
    font-weight: 400;
color: inherit;
}


.menu__link:hover{
    border-bottom: 5px solid var(--carbon-fiber);
}